.app {
    overflow: hidden;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar { 
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none ;
    padding-left: 0;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    position: relative;
    cursor: pointer;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-avt {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    width: 160px;
    top: 30px;
    right: 0;
    padding-left: 0;
    background-color: var(--white-color);
    list-style-type: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px 24px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -32px;
    right: 42px;
    cursor: pointer;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 20px;
    top: -16px;
    right: 0;
}

/* .header__navbar-user-item {
    padding: 8px 0;
} */

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover {
    background-color: rgb(211, 211, 211, 0.2);
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.display-qrcode:hover .header__qr-app{
    display: block;
    background-color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-hover:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-hover:hover .header__navbar-item-link,
.header__navbar-hover:hover .header__navbar-icon {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--saparate::after {
    content: "";
    display: block;
    position: absolute;
    /* width: 1px; */
    height: 16px;
    border-left: 1px solid var(--white-color);
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon-link {
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}
.header__navbar-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    margin: 0 4px;
}

.header__qr-app {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 160%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* margin-top: 8px; */
    display: none;
    z-index: 1;
    animation: fadeIn ease-in 0.5s;
}

.header__qr-app::before {
    position: absolute;
    left: 0;
    top: -14px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__apps {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__app {
    height: 15px;
}

.header__app-link:nth-child(1) {
    margin-left: 11px;
}

.header__app-link:nth-child(2) {
    margin-right: 8px;
}

/* header notifycation */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transform-origin: calc(100% - 32px)  top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    /* chu y */
    will-change: opacity, transform;
    display: none;
    z-index: 3;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 18px 24px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -26px;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    /* background-color: #f53e2d; */
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* view notify */
.view-notify:hover .header__notify{
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    list-style-type: none;
}

.header__notify-link {
    display: flex;
    /* object-fit: contain; */
    padding: 6px 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.1);
}

.header__notify-link:hover {
    background-color: #f7f7f7;
}

.header__notify-img {
    width: 50px;
    height: 34px;
}

.fix-img {
    width: 68px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    /* line-height: 1rem; */
    color: #756F6E;
    margin-top: 4px;

}

.view-all-notify {
    text-align: center;
    text-decoration: none ;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black-color);
    padding: 12px 36px;
    width: 100%;
} 

.view-all-notify:hover {
    opacity: 0.7;
}

/* Auth modal */
@keyframes modalfadeIn {
    from {
        opacity: 0;
        transform: translateY(-160px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    animation: modalfadeIn ease-in 0.25s;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__policy-text {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 8px;
    /* font-weight: 500; */
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.btn.btn-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.auth-form__controls-icon {
    font-size: 1.8rem;
}

.icon-facebook-link.btn--with-icon {
    background-color: #3A5A98;
    color: var(--white-color);
    padding: 0 38px 0 12px;
}

.auth-form__controls-icon.icon-facebook-link {
    color: var(--white-color);
    background-color: #3A5A98;
    margin-right: 30px;
}

.text-icon-link {
    font-weight: 500;
}

.icon-google-link.btn--with-icon {
    width: 207px;
    padding: 0 38px 0 0;
    /* margin-right: -4px; */
}

.auth-form__controls-icon.icon-google-link {
    margin-right: 30px;
    color: var(--primary-color);
}

/* form login */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
}

.auth-form__help-separate {
    display: block;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
    height: 22px;
}

.auth-form__textforget {
    color: var(--primary-color);
}
.auth-form__texthelp {
    color: var(--text-color);
}

/* header with search */

.header-with-search {
    height: var(--navbar-with-search-height);
    display: flex;
    align-items: center;
}

.header__mobile-search {
    padding: 0 12px;
}

/*  */

.header__mobile-navi {
    margin-right: 24px;
    display: none;
    z-index: 14;
}

.header__mobile-navi-icon
{
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent ;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px; 
}

/* nav overlay */
.nav__overlay-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
    z-index: 2;
    display: none;
}

.header__navi-checkbox:checked ~ .nav__overlay-mobile {
    display: block;
}

/* nav mobile */
.nav__mobile-close {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 2rem;

}
.nav__mobile {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    max-width: 50%;
    background-color: var(--white-color);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 3;
    display: none ;
}

.header__navi-checkbox:checked ~ .nav__mobile  {
    display: block;
    transform: translateX(0);
    opacity: 1;
}

.nav__mobile-list {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

.nav__mobile-link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 8px 12px;
}

/* end nav mobile */

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-contai-icon {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    /* trên mobile tablet khi nhấn vào không bị highlight */
    -webkit-tap-highlight-color: transparent;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: 0px;
    background-color: var(--white-color);
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    display: none ;
    z-index: 1;
}

/* card : co hang */
.header__cart-heading {
    text-align: left;
    margin: 10px 0 16px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
    max-height: 50vh;
    /* khi con vượt quá giới hạn chiều dài thì sẽ sinh ra thanh cuộn */
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 8px; */
}

.header__cart-item-name {
    line-height: 2rem;
    max-height: 4rem;
    /* chiều dài quá 2 dòng sẽ bị ẩn đi */
    overflow: hidden; 
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    text-align: left;
    flex: 1;
    /* khi chiều dài quá 2 dòng sẽ hiện dấu ... ở cuối */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    /* margin-top: 8px; */
}

.header__cart-item-decription {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
    min-width: 124px;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}
.header__cart-list::before {
    content: "";
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list-no-cart-img {
    width: 30%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 8px;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid #EE4D2D;
    top: -12px;
    right: 4px;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    cursor: pointer;
    -webkit-tag-highlight-color: transparent;

}

.header__cart-contai-icon:hover .header__cart-list {
    display: block;
}



.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none ;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid var(--border-color);
    position: relative;
    padding-left: 16px;
}

.header__search-select:hover {
    cursor: pointer;
}

.header__search-select-label{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__search-select-icon {
    font-size: 1.4rem;
    font-weight:100;
    color: #4A4A4A;
    margin: 0 12px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    height: 34px;
    width: 60px;
    border: none;
    border-radius: 2px;
    background-color: var(--primary-color);
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #ec593c;
    cursor: pointer;
}

.header__search-btn-search {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    width: 140px;
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -16px;
    right: 0;
}

.header__search-option-item {
    /* width: 100%; */
    background-color: var(--white-color);
    padding: 8px;
    list-style-type: none;
}

.header__search-option-item:hover span {
    /* background-color: #fafafa; */
    color: var(--primary-color);
    cursor: pointer;
}

.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 0;
    margin-left: 4px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 0 0 16px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* nhấn ô tìm kiếm mở ra lịch sử tìm kiếm */
.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100%  - 16px);
    /* width: 500px; */
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189,189,189);
    display: none ;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
   padding-left: 0; 
   margin-bottom: 0;
   margin-top: 0;
}

.header__search-history-item {
    list-style-type: none;
    height: 38px;
    padding: 0 16px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    /* thẻ a kế thừa chiều ngang của thẻ chứa nó */
    display: block;  
}

/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    margin: 0;
    padding-left: 0;
    /* display: flex; */
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    z-index: 9;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header__sort-link::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    height: 60%;
    border-right: 1px solid #e5e5e5; 
    transform: translateY(-50%);
    /* ket hop top: 50%; va transform: translateY(-50%) de can giua cho boder left right*/
}

.header__sort-item:last-child .header__sort-link::after {
    display: none;
}


/* app container */

.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 16px;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-list {
    padding: 0 0 8px 0 ;
    list-style-type: none;
    margin-left: 9px;
}

.category-item  {
    padding: 8px 16px;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
} 

.category-item--active .category-item__link::before {
    position: absolute;
    left: -8px;
    top: 50%;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(-50%);
}

/* mobile tablet category */
.mobile-category {

}

.mobile-category-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    /* khi kthc vuot qua the cha se hien thanh cuon */
    max-width: 100%;
    overflow-x: auto;
}

/* ẩn thanh cuộn */
.mobile-category-list::-webkit-scrollbar {
    display: none;
} 

.mobile-category-item {
    /* kthc khong bi co lai */
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link {
    background-color: #87AFD8;
}

.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link {
    background-color: #76C9BD;
}

.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link {
    background-color: #88CF81;
}

.mobile-category-link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: var(--line-height);
    text-align: center;
    display: block;
    width: 110px;
    padding: 0 5px;
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    border-radius: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* khong cho người dung select text */
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color:rgba(0, 0, 0, 0.05);
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

/* list option */
.select-input:hover .select-input__list {
    display: block;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: 0;
    padding-left: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style-type: none;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.select-input__list::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: -6px;
    height: 10px;
    /* background-color: #3A5A98; */
}

.select-input__item {
    padding: 12px 12px 12px 16px;
}

.select-input__item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.select-input__link {
    font-size: 1.4rem;
    text-decoration: none ;
    color: var(--text-color);
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page_current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
}

/* product icon */
.home-product {
    margin-bottom: 10px;
}

.home-product-item__img {
    /* dùng với bgr img xét dài bằng rộng */
    padding-top: 100%;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* margin-top: 10px; */
    /* width: 242px;
    height: 242px; */
}

/* .home-product-item-wrapper {
    margin-bottom: 10px;
} */

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    /* cursor: pointer; */
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 3.6rem;
    color: var(--text-color);
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 10px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 8px;
    margin-bottom: 10px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px 10px;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: block;
}

.home-product-item__like--liked .home-product-item__like-icon-emty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    /*thu nho icon  */
    transform: scale(0.8);
    /* đẩy về vị trí cách phải ban đầu */
    transform-origin: right;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.home-product-item__origin {
    display: flex;
    margin: 0 10px 0px 10px;
    padding-bottom: 8px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #595959;
}

.home-product-item__origin-title {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;  
} 

.home-product-item__favourite span {
    color: var(--white-color);
}
.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    /* làm giảm độ sáng */
    filter: brightness(60%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.9);
    padding: 4px 4px 2px 4px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.9) transparent rgb(255, 216, 64, 0.9);
}

.home-product-item__sale-off-percent {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.home-product-item__sale-off-label {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);

}

.home-product__pagination {
    margin-top: 38px;
    margin-bottom: 32px;
    padding-left: 0;
}

/* footer */
.footer-border {
    border-top: 3px solid var(--primary-color);
    /* padding: 0 8px; */
}


.footer__heading {
    margin-top: 32px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-link {
    display: block;
    font-size: 1.3rem;
    padding: 6px 0;
    text-decoration: none;
    color: #737373;
}

.footer-item-link:hover  {
    color: var(--primary-color);
}

.footer-item-link:hover .footer-item-icon{
    color: var(--text-color);
}

.footer-item-icon {
    font-size: 1.6rem;
    margin-right: 6px;
}

.footer__app {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 26px; */
}

.forter__qr-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__app-dowload {
    margin-left: 12px;
}

.footer__app-img {
    height: 24px;
}

.footer__app-link {
    text-decoration: none;
    color: transparent;
}

.footer-bottom {
    margin: 32px 0 ;
    background-color: #f5f5f5;
}

.footer__text {
    margin: 0;
    padding: 12px 0;
    text-align: center;
    font-size: 1.4rem;
    color: #737373;
}